@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-text-color: #183b56;
    --secondry-text-color: #577592;
    --accent-color:#2294ed;
    --accent-color-dark:#1d69a3;
}
body{
    font-family: "Poppins",sans-serif;
    color: var(--primary-text-color);
}
p{
    font-family: "Roboto",sans-serif;
    line-height: 1.4rem;
    color: var(--secondry-text-color);
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
/* UTILITY CLASSES */
.flex{
    display: flex;
    align-items: center;
}
.container{
    max-width: 1180px;
    margin-inline: auto;
    overflow: hidden;
}
nav{
    background-color: #f3faff;
    box-shadow: 0 0 4px #bbd0e2;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    border: 1px solid black;
}
.main-nav{
    justify-content: space-between;
    padding-block: 8px;
    border: 2px solid red;
}
.company-logo img{
    width: 120px;
}
.nav-links ul{
    gap: 1rem;
}
.hover-links{
    cursor: pointer;
}
.hover-links:hover{
    color: var(--secondry-text-color);
}
.hover-links:active{
    color: red;
}
.search-bar{
    display: flex;
    gap: 8px;
    height: 2rem;
}
.news-input{
    font-family: "Roboto",sans-serif;
    width: 200px;
    height: 100%;
    border-radius: 4px;
    padding-inline: 8px;
    border: 2px solid #a2bed6;
}
.search-button{
    font-family: "Roboto",sans-serif;
    background-color: var(--accent-color);
    color: white;
    padding: 8px 24px;
    border: 0;
    border-radius: 4px;
}
.search-button:hover{
    background-color: var(--accent-color-dark);
}
main{
    padding: 20px;
    border: 2px solid blanchedalmond;
}
.cards-container{
    margin-top: 80px;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 1rem;
}
.card{
    width: 360px;
    height: 400px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 4px #d4ecff;
    background-color: #fff;
    cursor: pointer;
}
.card:hover{
    background-color: #fff;
    box-shadow: 2px 4px 8px #d4ecff;
    transform: translateY(-2px) translateX(2px);
}
.card-header img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.card-content{
    padding: 20px 12px;
}
#news-source{
    margin-block: 1rem;
    color: gray;
    opacity: 70%;
}