.box{
    width: 200px;
    height: 200px;
    background-color: brown;
    border: 2px solid black;
    transition-property: border-radius, baground-color,transform, border;
    position: relative;
    top: 100px;
    left: 120px;
    transition-duration: 4s;
    transition-timing-function: cubic-bezier(0, 1.11, 1, 0.41);
}
.box:hover{
    border-radius: 50%;
    background-color: grey;
    transform: rotate(180deg);
    border: 2px solid black;
}