body{
    background-color: teal;
}
.container{
    width: 200px;
    height: 200px;
    border: 1.5px solid white;
    position: relative;
    top: 100px;
    left: 100px;
}
.box{
    width: 100px;
    height: 100px;
    background-color: wheat;
    animation-name: round;
    animation-duration: 2s;
    /* animation-delay: 2s; */
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: ease;
}
@keyframes round {
    0%{
        transform: translate(0,0);
    }
    25%{
        transform: translate(100px,0);
    }
    50%{
        transform: translate(100px,100px);
    }
    75%{
        transform: translate(0,100px);
    }
}