.flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.dark{
    background-color:rgb(33, 33, 33);
    color: white;
}
.light{
    background-color: white;
    color: black;
}